# Maven build klasörü
target/

# IDE dosyaları
*.iml
.idea/
*.vscode

# Sistem dosyaları
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# mvnw dosyaları (Docker image içinde ihtiyacımız yok çünkü maven container kullanıyoruz)
mvnw
mvnw.cmd
