.login-root {
  min-height: 100vh;
  display: flex;
  background: #f8f9fb;
  font-family: 'Inter', sans-serif;
}
.login-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.login-box {
  max-width: 420px;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  padding: 56px 48px;
  margin-right: auto;
  box-shadow: 0 2px 8px #eee;
}
.kotam-logo {
  height: 56px;
  width: auto;
  margin-bottom: 24px;
  display: block;
  margin-left: 0;
  margin-right: auto;
}
.login-box p {
  font-size: 14px;
  color: #666;
  margin-top: 12px;
  margin-bottom: 32px;
}
.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 1px solid #bbb;
  font-size: 16px;
}
.password-area {
  display: flex;
  flex-direction: column;
  position: relative;
}

.forgot-link {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -8px; 
  margin-bottom: 12px;
}

.forgot-btn {
  font-size: 13px;
  color: #0e3970;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}
.error {
  color: red;
  margin-bottom: 12px;
}
.login-btn {
  width: 100%;
  padding: 12px;
  background: #0e3970;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  margin-top: 24px;
  font-size: 16px;
}
.register-area {
  margin-top: 24px;
  font-size: 15px;
  text-align: center;
}
.signup-btn {
  background: none;
  border: none;
  color: #0e3970;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  font-weight: 700;
}
.login-right {
  flex: 1.1;
  background: linear-gradient(135deg, #0e3970 85%, #24497f 100%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 64px;
}
.login-right h2 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 12px;
  margin-top: 0;
}
.login-right h2 span {
  font-weight: 400;
}

/* Responsive */
@media (max-width: 900px) {
  .login-root {
    flex-direction: column;
  }
  .login-right {
    display: none;
  }
  .login-left {
    align-items: center;
    padding: 0;
  }
}